
<div class="row ">

  <!-- --------------------------------- PRIMER CARD--------------------------------- -->
  <div class="col border border-secondary m-1">

   
    <div class="card border-bottom-primary mt-3 mb-3 " >
      
      <div class="card-header bg-transparent border-secondary">
        <form class="pb-2">

          <input class="form-control form-control-sm" [(ngModel)]="buscar" type="text" name="buscar" id="buscar" placeholder="Buscar...">
          
        </form>
      </div>

      <div class="card-body">  
       
        <div class="list-group" id="list-tab" role="tablist">
         
      <!-- LISTA DESPLEGABLE MODIFICAR -->
          <div *ngFor="let articulo of articulos |filter:buscar    |  paginate: { itemsPerPage: 6, currentPage: paginaActual }; let i = index" >
        
            
              <li (click)="addItem(articulo.nombre,articulo.cantidad,articulo.uid)"  
                  class="list-group-item list-group-item-action mt-2" 
                  id="list-home-list"  
                  href="#list-home" 
                  role="tab" 
                  aria-controls="home">        
                
                {{articulo.nombre}}

              </li>
        </div>
        </div>

        <pagination-controls (pageChange)="paginaActual = $event"> </pagination-controls>

      </div> 
    </div>

  </div>

  <!-- --------------------------------- SEGUNDO CARD --------------------------------- -->


  
  <div class="col border border-secondary m-1">
    
    <div class="card border-bottom-primary mt-3 mb-3 ">
      <form class="pb-1" [formGroup]="actividadForm" (ngSubmit)="guardar(actividadForm)">
      
      <div class="card-header bg-transparent border-secondary">
       

        <input class="form-control form-control-sm" 
                  type="text" 
                  name="buscar"  
                  placeholder="Nombre del movimiento"
                  formControlName="nombre">
          
       
      </div>
    
      <div class=" card-body text-secondary red ">
        

          <div>

            <input class="form-control form-control-sm" 
                  type="text" 
                  name="buscar"  
                  placeholder="Agregar mensaje..."
                  formControlName="descripcion">
          </div>

          <!-- ------- Campos que se repiten ------- -->
          
          <div formArrayName="articulos" class=" mt-2 mb-2">

            <div *ngFor="let x of articuloListArray.controls; let i = index; ">

              <div [formGroupName]="i"  class="mt-2">
                
                <div class="form-row">
                
                  <!-- COLUMNA 1 -->
                  <div class="col-6">

                        <input class="form-control"
                                type="text" 
                                name="" 
                                formControlName="nombreArticulo"
                                placeholder="nombre"
                                value="x.nombre"
                                disabled
                                >

                  </div>
                  <!-- COLUMNA 1 -->
                  <div class="col-3">

                        <input class="form-control"
                                type="number" 
                                name="" 
                                formControlName="cantidadNueva"
                                placeholder="cantidad"
                                value="x.cantidad"
                                >

                  </div>
                  
                  <div class="col-1">
                    <button class="btn btn-danger" (click)="eliminarItem(i)">
                      <span>
                        <i class="fas fa-trash"></i>
                      </span>
                    </button>
                  </div>
                
                </div>

             </div>

            
            </div>

          </div> 

          <div class="pb-2"> 
            <select  class="form-control"
                     formControlName="lugar" 
                          >
                <option [ngValue]="null"  disabled>Mover a...</option>
                        
                <option *ngFor="let lugares of lugaresMover">{{lugares}}</option>
                        
              </select> 
          </div>

          <button class="btn-sm btn-primary" type="submit">
                      
            Agregar
                      {{numeroAfuera}}
          </button> 
        
        
       
      </div>

      </form>
    </div>
  
  </div>

</div>



   
    