<div class="container-fluid">

  <!-- Pagina -->
  <h1 class="h3 mb-4 text-gray-800">Pagina de articulos</h1>
  
  

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="pr-1">
          <a href="#" class="btn btn-primary btn-icon-split btn-md" data-toggle="modal" data-target="#AgregarModal">
            <span class="icon text-white-50">
              <i class="fas fa-plus"></i>
            </span>
            <span class="text">Agregar</span>
          </a>
        </div>
        <div class="pr-1 pt-1">
          <a href="#" class="btn btn-secondary btn-icon-split btn-sm" data-toggle="modal" data-target="#presentacionModal">
            <span class="icon text-white-50">
              <i class="fas fa-plus"></i>
            </span>
            <span class="text">Presentación</span>
          </a>
        </div>
        <div class="pr-1 pt-1">
          <a href="#" class="btn btn-secondary btn-icon-split btn-sm" data-toggle="modal" data-target="#unidadModal">
            <span class="icon text-white-50">
              <i class="fas fa-plus"></i>
            </span>
            <span class="text">unidad</span>
          </a>
        </div>
        <div class="pr-1 pt-1">
          <a href="#" class="btn btn-secondary btn-icon-split btn-sm" data-toggle="modal" data-target="#categoriaModal">
            <span class="icon text-white-50">
              <i class="fas fa-plus"></i>
            </span>
            <span class="text">Categoria</span>
          </a>
        </div>
        <!-- <div class="pr-1">
          <a href="#" class="btn btn-primary btn-icon-split btn-sm" data-toggle="modal" data-target="#BuscarModal">
            <span class="icon text-white-50">
              <i class="fas fa-search"></i>
            </span>
            <span class="text">Buscar</span>
          </a>
        </div> -->
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr >
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>cantidad en el almacen</th>
              <th>Precio de compra</th>
              <th>Precio de venta</th>
              <th>Tipo de presentacion</th>
              <th>Categoria</th>
              <th>Esta activo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tr *ngFor="let item of articulos">
            <td>{{item.nombre}}</td>
            <td>{{item.descripcion}}</td>
            <td align="center">{{item.cantidad}}</td>
            <td>{{item.precioVenta|currency}}</td>
            <td>{{item.precioCompra|currency}}</td>
            <td>{{item.presentacion}}</td>
            <td>{{item.categoria}}</td>
            <td>{{item.estaActivado}}</td>
            <td >
              <button class="btn btn-danger" (click)="borrar(item.uid)">
                <span>
                  <i class="fas fa-trash"></i>
                </span>
              </button>
              <button class="btn btn-success" (click)="mandarvalores(item.uid)" data-toggle="modal" data-target="#editarModal">
                <span>
                  <i class="fas fa-edit"></i>
                </span>
              </button>
            </td>
          </tr>
          <!-- <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Categoria</th>
              <th>Cantidad en Almacen</th>
              <th>Esta activo</th>
              <th>Borrar</th>
            </tr>
          </tfoot> -->
          <tbody>

          </tbody>
        </table>

        
      </div>
    </div>
  </div>



</div>
<!-- MODALS NUEVOS -->

<!-- Modals 1 Articulo  nuevo-->
<div class="modal fade" id="AgregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Articulo</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">


        <form [formGroup]="productoForm" (ngSubmit)="guardar()" class="user">
          
          
          <div class="form-group row">
            
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text"
                     class="form-control form-control-user" 
                     formControlName="nombre" 
                     placeholder="Nombre"
                     name="nombre"
                     >
            </div>

            <div class="col-sm-6">
              <input type="number" 
                     class="form-control form-control-user" 
                     formControlName="barcode"  
                     placeholder="Codigo de barras"
                     name="barcode"
                     >
            </div>
          </div>


          <div class="form-group">
            <input type="text" 
                   class="form-control form-control-user" 
                   formControlName="descripcion" 
                   placeholder="Descripcion"
                   name="descripcion"
                   >
          </div>

          <div class="form-group row">

            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="number" 
                     class="form-control form-control-user"
                     formControlName="precioCompra"  
                     placeholder="Precio de compra"
                     name="precioCompra">
            </div>

            <div class="col-sm-6">

              <input type="number" 
                     class="form-control form-control-user"
                     formControlName="precioVenta"  
                     placeholder="Precio de venta"
                     name="precioVenta">

            </div>

          </div>

          <div class="form-group row">

            <div class="col-sm-6 mb-3 mb-sm-0">
              <select  class="form-control"
                       formControlName="presentacion" 
                       >
                     <option [ngValue]="null"  disabled>Tipo de presentación:</option>
                     
                     <option *ngFor="let presentaciones of presentacion">{{presentaciones}}</option>
              </select>
              
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
              <select  class="form-control"
                       formControlName="unidad" 
                       >
                     <option [ngValue]="null"  disabled>Tipo de unidad:</option>
                     
                     <option *ngFor="let unidades of unidad">{{unidades}}</option>
              </select>
              
            </div>
            
            

          </div>
          <div class="form-group row">

            <div class="col-sm-6 mb-3 mb-sm-0">
              <select  class="form-control "
                       formControlName="categoria" 
                       >
                     <option [ngValue]="null"  disabled>Categoria:</option>
                     
                     <option *ngFor="let categorias of categoria">{{categorias}}</option>
              </select>
              
            </div>
            <div class="col-sm-6">
              <input type="number" 
                     class="form-control form-control-user" 
                     formControlName="cantidad"  
                     placeholder="cantidad"
                     name="cantidad"
                     >
            </div>
            

          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="checkbox" formControlName="estaActivado">
              ¿Desea activarlo?
            </div>
            

            
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" (click)="regresarValores()"  >Limpiar</button>

            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            
            <button class="btn btn-secondary" type="submit"
                    
                     [disabled]="productoForm.invalid">
                    
                     Agregar
                    
                    </button>            
          </div>
        </form>


      </div>
      
    </div>
  </div>
</div>

<!-- Modals 2 Presentacion nuevo -->
<div class="modal fade"  id="presentacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar una presentacion</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="productoFormEditar" (ngSubmit)="editar()" class="user">
                    
          <div class="form-group row">
            
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text"
                     class="form-control form-control-user" 
                     formControlName="nombre" 
                     placeholder="Nombre"
                     name="nombre"
                     >
            </div>

          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" (click)="regresarValoresE()"  >Limpiar</button>

            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            
            <button class="btn btn-secondary" type="submit" 

            [disabled]="productoFormEditar.invalid">
                    
                     Agregar
                    
                    </button>            
          </div>
        </form>


      </div>
      
    </div>
  </div>
</div>

<!-- Modals 3 Unidad nuevo -->
<div class="modal fade"  id="unidadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar una unidad</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="productoFormEditar" (ngSubmit)="editar()" class="user">
                    
          <div class="form-group row">
            
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text"
                     class="form-control form-control-user" 
                     formControlName="nombre" 
                     placeholder="Nombre"
                     name="nombre"
                     >
            </div>

          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" (click)="regresarValoresE()"  >Limpiar</button>

            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            
            <button class="btn btn-secondary" type="submit" 

            [disabled]="productoFormEditar.invalid">
                    
                     Agregar
                    
                    </button>            
          </div>
        </form>


      </div>
      
    </div>
  </div>
</div>

<!-- Modals 4 categoria nuevo -->
<div class="modal fade"  id="categoriaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar una categoria</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body center">

        <form [formGroup]="productoFormEditar" (ngSubmit)="editar()" class="user">
                    
          <div class="form-group row">
            
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text"
                     class="form-control form-control-user" 
                     formControlName="nombre" 
                     placeholder="Nombre"
                     name="nombre"
                     >
            </div>

          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" (click)="regresarValoresE()"  >Limpiar</button>

            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            
            <button class="btn btn-secondary" type="submit" 

            [disabled]="productoFormEditar.invalid">
                    
                     Agregar
                    
                    </button>            
          </div>
        </form>


      </div>
      
    </div>
  </div>
</div>


<!-- MODALS EDITAR -->

<!-- Modals 1 Articulo Editar -->
<div class="modal fade"  id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Articulo</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">


        <form [formGroup]="productoFormEditar" (ngSubmit)="editar()" class="user">
          
          
          <div class="form-group row">
            
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text"
                     class="form-control form-control-user" 
                     formControlName="nombre" 
                     placeholder="Nombre"
                     name="nombre"
                     >
            </div>

            <div class="col-sm-6">
              <input type="number" 
                     class="form-control form-control-user" 
                     formControlName="barcode"  
                     placeholder="Codigo de barras"
                     name="barcode"
                     >
            </div>
          </div>


          <div class="form-group">
            <input type="text" 
                   class="form-control form-control-user" 
                   formControlName="descripcion" 
                   placeholder="Descripcion"
                   name="descripcion"
                   >
          </div>

          <div class="form-group row">

            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="number" 
                     class="form-control form-control-user"
                     formControlName="precioCompra"  
                     placeholder="Precio de compra"
                     name="precioCompra">
            </div>

            <div class="col-sm-6">

              <input type="number" 
                     class="form-control form-control-user"
                     formControlName="precioVenta"  
                     placeholder="Precio de venta"
                     name="precioVenta">

            </div>

          </div>

          <div class="form-group row">

            <div class="col-sm-6 mb-3 mb-sm-0">
              <select  class="form-control"
                       formControlName="presentacion" 
                       >
                     <option [ngValue]="null"  disabled>Tipo de presentación:</option>
                     
                     <option *ngFor="let presentaciones of presentacion">{{presentaciones}}</option>
              </select>
              
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
              <select  class="form-control"
                       formControlName="unidad" 
                       >
                     <option [ngValue]="null"  disabled>Tipo de unidad:</option>
                     
                     <option *ngFor="let unidades of unidad">{{unidades}}</option>
              </select>
              
            </div>
            
            

          </div>
          <div class="form-group row">

            <div class="col-sm-6 mb-3 mb-sm-0">
              <select  class="form-control "
                       formControlName="categoria" 
                       >
                     <option [ngValue]="null"  disabled>Categoria:</option>
                     
                     <option *ngFor="let categorias of categoria">{{categorias}}</option>
              </select>
              
            </div>
            <div class="col-sm-6">
              <input type="number" 
                     class="form-control form-control-user" 
                     formControlName="cantidad"  
                     placeholder="cantidad"
                     name="cantidad"
                     >
            </div>
            

          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="checkbox" formControlName="estaActivado">
              ¿Desea activarlo?
            </div>
            

            
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" (click)="regresarValoresE()"  >Limpiar</button>

            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            
            <button class="btn btn-secondary" type="submit" 

            [disabled]="productoFormEditar.invalid">
                    
                     Agregar
                    
                    </button>            
          </div>
        </form>


      </div>
      
    </div>
  </div>
</div>


