<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">

               <!-- Aqui esta la imagen, editar despues -->
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>

            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                </div>


                <form (ngSubmit)="onSubmit(f.value)" #f="ngForm" class="user">

                  <div class="form-group">
                    <input type="email" 
                           class="form-control form-control-user" 
                           id="exampleInputEmail" 
                           aria-describedby="emailHelp" 
                           placeholder="Enter Email Address..."
                           ngModel
                           name="correo"
                           required
                           >
                  </div>

                  <div class="form-group">
                    <input type="password" 
                           class="form-control form-control-user" 
                           id="exampleInputPassword" 
                           placeholder="Password"
                           ngModel
                           name="contrasena"
                           required
                           >
                  </div>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Recuerdame</label>
                    </div>
                  </div>
                  <button [disabled]="f.invalid" class="btn btn-primary btn-user btn-block">
                    Iniciar sesión
                  </button>
                  
                </form>
                <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Iniciar con Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Iniciar con Facebook
                  </a>

                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="/registro">Crea una cuenta!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>